Django==5.1.7
psycopg[binary]==3.2.5
celery==5.4.0
redis==5.2.1
gunicorn==23.0.0
whitenoise==6.9.0
django-htmx==1.21.0
openpyxl==3.1.5
requests==2.32.3
urllib3==2.3.0
cryptography==44.0.2
psutil==7.0.0
Pillow==11.1.0
python-dotenv==1.0.1
argon2-cffi==23.1.0
ruff==0.9.9
pytest==8.3.5
pytest-django==4.10.0
pytest-cov==6.0.0
